.toast {
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  /* Começa invisível */
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
  /* Opacidade e movimento */
  display: flex;
  align-items: center;
  gap: 10px;
}

.toast.show {
  opacity: 0.9;
  /* Fica visível */
}

.success {
  background-color: #4caf50;
}

.error {
  background-color: #f44336;
}

.normal {
  background-color: #333;
}

.close {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}